.site-module_image {
	background: url(https://unsplash.it/400/400) center center no-repeat;
    background: cover;
    height: auto;
    margin: auto;
    max-width: 100%;
    min-height: 400px;
    // vertical-align: middle;
}

.medium-overlay  {
    @media screen and (min-width: 550px) and (max-width: 960px) { 
        background: rgba(255, 255, 255, 0.90);
    	float: left !important;
    	padding: 20px 0;
    	width: 60%;
    }
}


.medium-underlay  {
	position: relative;
    @media screen and (min-width: 550px) and (max-width: 960px) { 
        position: absolute;
    	right: 0;
    	width: 400px;
    	z-index: -123;
    }
	@media screen and (min-width: 961px) {
		position: relative;
	}
}	


