.footer {
    padding: 112px 0 52px;
    @media #{$medium-up} { 
        padding: 72px 0 36px;

    }
    @media #{$large-up} { 
        padding: 82px 0 0;
    }
}
// Fix foundation floating classes
.column.end:last-child:last-child {
    @media #{$medium-only} {
        float: none;    
    }
}
.footer-list__container {
    border-bottom: 1px solid $grey25;
    min-height: 54px;
    @media #{$medium-up} {
        min-height: 110px;
    }
    @media #{$large-up} {
        border: none;
        margin: 0 0 38px;
        min-height: auto;
    }
    ul {
        @extend %no-listStyle;
        display: none;
        @media #{$large-up} {
            display: block !important;
        }
        .end {
            margin-bottom: 37px;
            @media #{$medium-up} {
                margin-bottom: 0;
            }
        }
    }
}
.footer-list__container {
    &.last {
        margin: 0 0 80px;
        @media #{$medium-up} {
            margin: 0 0 80px;
        }
        @media #{$large-up} {
            margin: 0 0 32px;
        }
        
    }
}
.footer-list__title {
    @extend .small;
    color: $grey85;
    cursor: pointer;
    display: block;
    font-weight: bold;
    padding: 32px 0 12px;
    position: relative;
    text-transform: uppercase;
    @media #{$medium-up} {
        padding: 48px 0 38px;
    }
    @media #{$large-up} {
        border-bottom: 1px solid $grey25;
        cursor: default;
        padding: 0 0 8px;
    }
    &:active,
    &:focus,
    &:hover {
        color: $grey85;
    }
    span {
        display: block;
        position: absolute;
        right: 0;
        top: 32px;
        @media #{$medium-up} {
            top: 48px;
        }
        @media #{$large-up} {
            display: none !important;
        }
    }
    span:first-child {
        display: block;
    }
    span:last-child {
        display: none;
    }
}
.footer-list__item {
    @extend .small;
    color: $grey85; 
    cursor: pointer;
    display: inline-block;
    padding: 0 0 7px;
    text-decoration: none;
    @media #{$medium-up} {
        padding: 0 0 32px;
    }
    @media #{$large-up} {
        padding: 0;
    }
    &:active,
    &:focus,
    &:hover {
       color: $grey85; 
       text-decoration: underline;
   }
}
.footer-disclaimer,
.footer-copyright {
    margin: 0 0 32px;
    p {
        @extend .small;   
        color: $grey85;
    }
}
