
<p class="p text-grey-60 rhythm-m-1">You'll see that changing risk levels affects the amount you could get back, you can also look at changing the lump sum, monthly contributions and time it takes to achieve your goals. Choosing investments with a higher risk level may carry a greater chance of losing some or all of your money.</p>

<p class="p text-grey-60 rhythm-m-1"><strong>Select the options below in the chart to see the difference but remember the information shown within this chart is for illustrative purposes only and is not a guarantee. The value of investments can go down as well as up and you may not get back the amount you invested.</strong></p>

<a href="#" class="btn btn--grey-05 btn--icon-after rhythm-m-1 show-settings">
    Change your options
    <span class="btn__icon icon-settings"></span>
</a>

<div class="grid animate animate--fadeIn graph-section graph-loading hidden">

    <div class="grid__item width-4/5 tablet-width-1/1">

        <div id="graph-container" class="rhythm-m-0-half">


            <div class="graph-tooltip"> <!-- rhythmic-s -->
                <div class="graph-tooltip__header text-center gutted-s bg-grey-03">
                    <h4 class="h6">Estimated values</h4>
                </div>                
                <div class="graph-tooltip__body rhythmic-s gutted-s bg-white">
                    <div class="rhythm-m-b-1 clearfix">
                        <div class="colour bg-blue-1"></div>
                        <div class="label">
                            <span class="h6 text--grey-03 name">Good market</span>
                            <span class="good h6 amount">£13,000</span>
                        </div>
                        <div class="percentage">
                            <span class="good-percent h6">-%</span>
                        </div>
                    </div>
                    <div class="rhythm-m-b-1 clearfix">
                        <div class="colour bg-white"></div>
                        <div class="label">
                            <span class="h6 text--grey-03 name">Average market</span>
                            <span class="average h6 amount">£10,000</span>
                        </div>
                        <div class="percentage">
                            <span class="average-percent h6">-%</span>
                        </div>
                    </div>
                    <div class="rhythm-m-b-1 clearfix">
                         <div class="colour bg-blue-3"></div>
                        <div class="label">
                            <span class="h6 text--grey-03 name">Poor market</span>
                            <span class="poor h6 amount">£8,000</span>
                        </div>
                        <div class="percentage">
                            <span class="poor-percent h6">-%</span>
                        </div>
                    </div>
                    <div class="rhythm-m-b-1 clearfix">
                        <div class="colour bg-grey-85"></div>
                        <div class="label">
                            <span class="h6 text--grey-03 name">Cash</span>
                            <span class="cash h6 amount"></span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 
                <div class="graph__key">
                    <ul>
                        <li class="rhythmic-xxs gutted tablet-gutted-xs p text-white bg-blue-1">
                            Good <span class="tablet-hidden">market</span>
                        </li>
                        <li class="rhythmic-xxs gutted tablet-gutted-xs p text-white bg-blue-2">
                            Poor <span class="tablet-hidden">market</span>
                        </li>
    					<li class="rhythmic-xxs gutted tablet-gutted-xs p average">
                         Average
    					 </li>
                        <li class="rhythmic-xxs gutted tablet-gutted-xs p cash">
                            Cash
                        </li>
                    </ul>
                </div> 
            -->

            <div class="graph-spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>

            <div class="graph-line"></div>

            <div class="graph-point"></div>

            <div class='ct-chart'></div>

       </div>
    </div><!--
    --><div class="grid__item width-1/5 tablet-width-1/1 text-center graph-inputs tablet-hidden">
        <label class="block text-blue-1 rhythm-m-0-half animate animate--fadeIn" for="start-balance">Lump sum:</label>
        <input type="text" class="start-balance h4 text-blue-3 rhythmic-3xs rhythm-p-2-top--s rhythm-m-2 form-input text-center block animate animate--fadeIn" value="£<%= startBalanceFormatted %>">

        <label class="block text-blue-1 rhythm-m-0-half animate animate--fadeIn" for="start-balance">Monthly contributions:</label>
        <input type="text" class="monthly-deposit h4 text-blue-3 rhythmic-3xs rhythm-p-2-top--s rhythm-m-2 form-input text-center block animate animate--fadeIn" value="£<%= monthlyDepositFormatted %>">

        <label class="block text-blue-1 rhythm-m-0-half animate animate--fadeIn animate-delay-8" for="start-balance">Number of years:</label>
        <input type="text" class="number-years h4 text-blue-3 rhythmic-3xs rhythm-p-2-top--s rhythm-m-2 form-input text-center block animate animate--fadeIn" value="<%= numberOfYears %>">

        <a href="#" class="graph-inputs__submit btn btn--default btn--orange-3 animate animate--fadeIn">Finished?</a>
        <a href="#" class="graph-inputs__close text-white"><span class="icon icon-close"></span></a>

       
    </div>

</div>

<div class="grid risk-select-container rhythm-m-0-half mobile-rhythm-m-0 rhythmic-s">
    <div class="grid__item width-1/5 text-center">
        <a href="#" onClick="ga('send', 'event', 'Plan Your Investment', 'Risk Level', 'Avoiding Loss', {'nonInteraction': 1}); ga('send', 'pageview', '/virtual/fidelity/learn.html/risklevel/avoidingloss); utag.view({page_pathname:'/virtual/fidelity/learn.html/risklevel/avoidingloss',event_action:'Plan Your Investment',event_category:'Risk Level',event_label:'Avoiding Loss',event_interaction_flag:'true'});" class="risk-select btn btn--bordered btn--bordered--green-1 block desktop-gutted-xs <% if ( riskLevel == 1 ) { %>active<% } %>" data-risk="1">
            <span class="icon icon-tick"></span>
            <span class="number-badge">1</span>
            Avoiding loss is my priority
        </a>
    </div><!--
    --><div class="grid__item width-1/5 text-center">
        <a href="#" onClick="ga('send', 'event', 'Plan Your Investment', 'Risk Level', 'Slow and Steady', {'nonInteraction': 1}); ga('send', 'pageview', '/virtual/fidelity/learn.html/risklevel/slowandsteady'); utag.view({page_pathname:'/virtual/fidelity/learn.html/risklevel/slowandsteady',event_action:'Plan Your Investment',event_category:'Risk Level',event_label:'Slow and Steady',event_interaction_flag:'true'});" class="risk-select btn btn--bordered btn--bordered--green-1 block desktop-gutted-xs <% if ( riskLevel == 2 ) { %>active<% } %>" data-risk="2">
            <span class="icon icon-tick"></span>
            <span class="number-badge">2</span>
            I prefer slow and steady
        </a>
    </div><!--
    --><div class="grid__item width-1/5 text-center">
        <a href="#" onClick="ga('send', 'event', 'Plan Your Investment', 'Risk Level', 'Willing to Lose', {'nonInteraction': 1}); ga('send', 'pageview', '/virtual/fidelity/learn.html/risklevel/willingtolose'); utag.view({page_pathname:'/virtual/fidelity/learn.html/risklevel/willingtolose',event_action:'Plan Your Investment',event_category:'Risk Level',event_label:'Willing to Lose',event_interaction_flag:'true'});" class="risk-select btn btn--bordered btn--bordered--green-1 block desktop-gutted-xs <% if ( riskLevel == 3 ) { %>active<% } %>" data-risk="3">
            <span class="icon icon-tick"></span>
            <span class="number-badge">3</span>
            I'm willing to lose some to make some
        </a>
    </div><!--
    --><div class="grid__item width-1/5 text-center">
        <a href="#" onClick="ga('send', 'event', 'Plan Your Investment', 'Risk Level', 'Focused on Growth', {'nonInteraction': 1}); ga('send', 'pageview', '/virtual/fidelity/learn.html/risklevel/focusedongrowth'); utag.view({page_pathname:'/virtual/fidelity/learn.html/risklevel/focusedongrowth',event_action:'Plan Your Investment',event_category:'Risk Level',event_label:'Focused on Growth',event_interaction_flag:'true'});" class="risk-select btn btn--bordered btn--bordered--green-1 block desktop-gutted-xs <% if ( riskLevel == 4 ) { %>active<% } %>" data-risk="4">
            <span class="icon icon-tick"></span>
            <span class="number-badge">4</span>
            Focused on growth
        </a>
    </div><!--
    --><div class="grid__item width-1/5 text-center">
        <a href="#" onClick="ga('send', 'event', 'Plan Your Investment', 'Risk Level', 'All-Out', {'nonInteraction': 1}); ga('send', 'pageview', '/virtual/fidelity/learn.html/risklevel/allout'); utag.view({page_pathname:'/virtual/fidelity/learn.html/risklevel/allout',event_action:'Plan Your Investment',event_category:'Risk Level',event_label:'All-Out',event_interaction_flag:'true'});"  class="risk-select btn btn--bordered btn--bordered--green-1 block desktop-gutted-xs <% if ( riskLevel == 5 ) { %>active<% } %>" data-risk="5">
            <span class="icon icon-tick"></span>
            <span class="number-badge">5</span>
            Risk losses for higher potential returns
        </a>
    </div>
</div>

<div class="risk-explanation text-center rhythmic gutted mobile-gutted-s hidden">
    <div class="risk-explanation__pointer"></div>
    <p class="p text-grey-60 animate animate--fadeIn risk1 <% if ( riskLevel != 1 ) { %>hidden<% } %>">Focused on capital preservation, while still aiming to generate modest investment returns over the long term by taking a smaller amount of risk.</p>
    <p class="p text-grey-60 animate animate--fadeIn risk2 <% if ( riskLevel != 2 ) { %>hidden<% } %>">Aims for steady returns over the years and will hold an even split of higher-risk and lower-risk investments.</p>
    <p class="p text-grey-60 animate animate--fadeIn risk3 <% if ( riskLevel != 3 ) { %>hidden<% } %>">More balanced, by placing emphasis on long term capital growth but also holding some more defensive assets.</p>
    <p class="p text-grey-60 animate animate--fadeIn risk4 <% if ( riskLevel != 4 ) { %>hidden<% } %>">Focused on higher long term returns. Although well diversified, holds higher risk assets such as equities, commodities and property.</p>
    <p class="p text-grey-60 animate animate--fadeIn risk5 <% if ( riskLevel != 5 ) { %>hidden<% } %>">All out for growth by investing in equities around the world. We believe there is great potential for long term growth, but you must understand you are taking on a high level of risk.</p>
</div>