
// Desktop Nav Container
#desktop-nav {
    @media all and (max-width: 960px) {
        display: none;
    }

    .nav__item-link {
      transition: opacity 0.4s ease;
      text-decoration: none;
    }
}

  .desktop-nav--faded {
      .nav__item-link {
        opacity: 0;
      }
      .nav__item-link.js-search-trigger {
        opacity: 1;
      }
  }

// Main Navigation
.top-bar-section {
    padding-top: 13px;
    ul {
        @extend %no-listStyle;
        background: none;
        overflow: hidden;
        li {
            background: none;
            margin-left: 25px;
            &:first-of-type {
                margin-left: 0;
            }
            a {
                color: $grey85;
            }
            .nav__item-link {
                background: none !important;
                color: $grey85 !important;
                display: inline-block;
                font-family: $brand-font-regular;
                font-size: 1rem;
                line-height: 1.5 !important;
                margin: 0;
                padding: 20px 0 !important;
                text-align: center;
                transition: 0.3s;
                &:hover {
                    background: none;
                    color: $blue2 !important;
                }
                &.slide {
                    padding: 22px 0 17px !important;
                }
            }
            .openbtn {
                &.active {
                    background: none !important;
                    // border-bottom: 2px solid $primary-color;
                    color: $blue3 !important;
                    margin: 0;
                    position: relative;
                    &:after {
                        border-left: 15px solid transparent;
                        border-right: 15px solid transparent;
                        border-top: 11px solid $white;
                        content: " ";
                        height: 0;
                        left: 50%;
                        margin-left: -10px;
                        pointer-events: none;
                        position: absolute;
                        top: 100%;
                        width: 0;
                        z-index: 3;
                    }
                    &:hover {
                        background: none;
                        color: $blue2 !important;
                    }
                }
            }
        }
    }
}


 /* The Overlay (background) */
.overlay {
    /* Slide down option */
    height: 0;
    width: 100%;

    /* Slide right option */
    // width: 0;
    // height: 100%;

    /* Toggle option */
    // display: none;

    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    position: fixed; /* Stay in place */
    top: 110px;
    transition: height 0.5s ease-out; /* 0.5 second transition effect to slide the overlay (height or width, depending on reveal) */
    z-index: 1; /* Sit on top */

    // background colour/gradient
    background: -moz-linear-gradient(45deg, #006193 0%, #00a6e0 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #006193), color-stop(100%, #00a6e0)); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, #006193 0%, #00a6e0 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, #006193 0%, #00a6e0 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, #006193 0%, #00a6e0 100%); /* ie10+ */
    background: linear-gradient(45deg, #006193 0%, #00a6e0 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a6e0', endColorstr='#006193',GradientType=1 ); /* ie6-9 */
    &.visible {
        height: 100%;
        // width: 100%;
    }
    .overlay-content {
        margin: 5% 15%; /* margin to avoid conflict with the close button on smaller screens */
        position: relative;
        width: 100%;
    }
    ul {
        @extend %no-listStyle;
        li {
            display: block;
        }
        a {
            color: $white;
            display: block; /* Display block instead of inline */
            font-size: 36px;
            padding: 8px;
            text-decoration: none;
            transition: 0.3s; /* Transition effects on hover (color) */
            &:active,
            &:focus,
            &:hover {
                color: $white;
                text-decoration: underline;
            }
            /* When the height of the screen is smaller, change the font-size of the links and position the close button again, so they don't overlap */
            @media #{$small-only} {
                font-size: 20px;
            }
        }
    }
    .second-level-navigation {
        li {
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            // border-bottom: 1px solid #ffffff;
            float: none;
            margin: 0;
            width: 60%;
        }
        a {
            @include header(1.25rem, 2.5rem);
            background: transparent !important;
            color: $white;
            font-family: $brand-font-light;
            line-height: 5rem !important;
        }
    }
}

/* Position the close button (top right corner) */
.closebtn {
    @include header(1.125rem, 1.75rem);
    background: transparent !important;
    color: $white !important;
    line-height: 1 !important;
    padding: 20px !important;
    position: absolute;
    right: 10%;
    top: 5%;
}
