.slide {
    position: relative;
    z-index: 214;
    [class^="icon--"],
    [class*=" icon--"] {
        // color: $grey85;
        font-size: 1.125rem;
    }
}

#search-bar {
    height: 100%;
    opacity: 0;
    position: absolute;
    width: inherit;
    z-index: -123;

    transition: transform 0.4s ease, opacity 0.4s ease;
    transform: translate3d( 40px, 0, 0 );
    @media all and (max-width: 960px) {
        display: none;
    }
    [class^="icon--"],
    [class*=" icon--"] {
        cursor: pointer;
        font-size: 1.125rem;
        padding: 20px 0;
    }
    form,
    .search,
    #search-box {
        height: inherit;
        position: inherit;
        width: inherit;
    }
    #search-box {
        @include header(1.25rem, 1.75rem);
        border: none;
        box-shadow: none;
        color: $grey25;
        font-family: $brand-font-light;
        margin: 0;
        padding: 1.25rem 1.25rem 0.5rem 0;
        transition: transform 0.4s ease-out;
        transition-delay: 0.1s;
        transform: translate3d( 40px, 0, 0 );
        &:active,
        &:focus {
            background: $white;
        }
    }
    .search {
        padding-left: 5%;
        padding-right: 6.75%;
        position: relative;
        input {
            text-indent: 65px;
        }
        button {
            background: none;
            position: absolute;
            margin: 0;
            padding: 0.7rem 1rem;
            top: 24px;
            z-index: 214;
        }
    }

    &.search-bar--active {
      
      display: block;
      transition: transform 0.4s ease-out, opacity 0.4s ease-out;
      transform: translate3d( 0, 0, 0 );
      opacity: 1;
        z-index: 123;
      #search-box {
        transform: translate3d( 0, 0, 0 );
      }
    }

    &.search-bar--leaving {
      z-index: 123;
      display: block;
      transition-delay: 0.1s;
      transform: translate3d( 40px, 0, 0 );
      opacity: 0;

      #search-box {
        transform: translate3d( 40px, 0, 0 );
        transition-delay: 0s;
      }
    }
}

li.search {
    // padding-bottom: 30px;
    [class^="icon--"],
    [class*=" icon--"] {
        cursor: pointer;
        font-size: 1.125rem;
        top: 5px;
    }
    .search {
        position: relative;
        input {
            background: transparent;
            border: none;
            box-shadow: none;
            color: $grey85;
            font-family: $brand-font-light;
            font-size: $introPara-font-size - $introPara-font-reduction;
            margin: 0;
            padding: 0;
            text-indent: 30px;
            &:focus {
                background: transparent;
            }
        }
        button {
            background: none;
            margin: 0;
            padding: 0;
            position: absolute;
        }
    }
}
