// Top level nav class
.tabs {}

    // Item class
    .tabs-title {}


.tabs-content {}

    // Individual tabs content
    .tabs-panel {}




// Tabs for the Pathfinder page
.information-tabs {

    display: inline-block;
    vertical-align: bottom;

    background: transparent;
    border: 0;

    .tabs-title {

        + .tabs-title a {
            margin-left: 1px; // Not sure if this is a 1px gap? It is for now.
        }


        a {
            color: $body-font-color;
            background: $white;
            text-decoration: none;
            padding: 14px 20px;
            border-top: 5px solid $blue1;
            border-bottom: 1px solid $blue1;
        }



        &.is-active {

            a {
                border-top-color: $orange1;
                border-bottom-color: $white;
            }

        }

    }

}

.information-tabs-content {

    background: transparent;
    border: 0;

    .tabs-panel {
        padding: 0;
    }

}
