<section class="site-module-product-content top-spacer-large bottom-spacer-large headline-list-component bg-grey3">

	<div class="row top-spacer-large bottom-spacer-large">
		<div class="small-10 small-offset-1 medium-4 medium-offset-1 columns">
			<h2 class="">Our Fees &amp; Charges</h2>
			<a href="" class="text-link">Find out more...</a>
		</div>


		<div class="small-10 small-offset-1 medium-6 columns end">

			<ul class="headline-listing clearfix">
				<li><span class="icon_ close"></span>No account charges</li>
				<li><span class="icon_ close"></span>No charges for re-investing income</li>
				<li><span class="icon_ close"></span>No switching charges</li>
				<li><span class="icon_ close"></span>No exit fees</li>
			</ul>


		</div>

	</div> <!-- CLOSE: row-->

</section> <!-- CLOSE: site-module-invest-advice -->