<section class="site-module-product-hero bg-tea-cup-flipped">
	<div class="site-module-product-hero-title-container">
		<div class="row hero-height">
			<div class="small-12 medium-8  medium-offset-1 columns hero-height">
				<div class="hero-text vertical-centered-content">	
					<h1 class="grey85">{{components.hero-style-2.title}}</h1>
					<div class="intro">
						<p>{{components.hero-style-2.subtitle}}</p>	
					</div>
				</div>
			</div>
		</div>
	</div> <!-- CLOSE: site-module-product-hero-title-container -->
</section> <!-- CLOSE: site-module-product-hero -->