<div class="row">
    <div class="small-12 columns panel">
        <h2>Introduction Panel</h2>
    </div>
</div>

<div class="row">
	
	<div class="small-10 small-centered medium-8 medium-centered large-6 large-centered columns">
		
		<p class="introPara">Deck copy introduction usually 6 column span max on large screen. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non mi sit amet mi tempor volutpat.</p>

		<p>Body copy regular intro. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non mi sit amet mi tempor volutpat. Duis sit amet tempus magna. Mauris fermentum aliquet erat, sit amet pharetra odio maximus eget. Morbi efficitur ante non augue fermentum tincidunt. In hac habitasse platea dictumst. Nullam posuere leo ut tortor auctor congue.</p>

		<div class="row bottom-spacer">
			
			<div class="small-6 columns">
				<a href="" class="text-icon-link">
					<span class="play-icon"></span>
					<span class="text text-blue3">Possible video link</span>
				</a>
			</div>

			<div class="small-6 columns">
				<a href="" class="text-icon-link">
					<span class="play-icon"></span>
					<span class="text text-blue3">Possible other link</span>
				</a>
			</div>

		</div> <!-- CLOSE: inset row -->

		<hr class="divider light"/>

		<div class="small-disclaimer-text text-center top-spacer text-grey60">
			<small class="italics">Remember, as with all investing, your capital is at risk and ISA eligibility rules apply. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non mi sit amet mi tempor volutpat.</small>
		</div>

	</div>

</div>