<!-- slide-panel: ISA calculator -->
<div class="slide-container">
	<div class="slide-panel tools-invest">
		<!-- 
			<div class="vertical-centered-content tool-title">
				<h2 class="text-center">ISA Calculator</h2>
			</div> 
		-->
		<!-- <div class="illustration icon-tool graph-small"></div> -->
		<div class="tool-panel bg-green2"></div>
		<h4 class="grey80">Quite possibly a tool. This is the title for the tool (h4)</h4>
		<p>Body copy regular intro brief introduction into this card / tool and hopefully very informative.</p>
		<a class="text-blue3 js-tool-trigger">Have a play with the tool &gt;</a>
	</div> 
	<!-- CLOSE: slide-panel -->
</div>