<!-- slide-panel: Helpful tool -->
<div class="slide-container">
	<div class="slide-panel tools-invest bg-white">
		<h5 class="text-grey25">TOOL</h5>
		<div class="vertical-centered-content tool-title">
			<h2 class="text-center">Yet another helpful thing</h2>
		</div>
		<div class="illustration icon-tool graph-small"></div>
		<p class="text-center">
			Body copy regular intro lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquam ante in quam commodo, vel tempor lacus eleifend.
		</p>
		<div class="centered-block-content bottom-spacer">
			<a class="text-blue3 js-tool-trigger">Calculate your savings...</a>
		</div>
	</div> <!-- CLOSE: slide-panel -->
</div>