<section class="site-module-tools-carousel top-spacer-large bottom-spacer bg-grey3">
	
	<div class="row">
		<div class="small-12 columns">
			<h2 class="text-center">Helpful ISA Tools</h2>
		</div>
	</div>
	<div class="row bottom-spacer-large">
		<div class="small-1 small-centered columns">
			<hr class="divider dark" />
		</div>
	</div>
			
	<div class="carousel-wrapper-full-width">
		<!-- tools carousel slider container -->
		<div class="slider-container">
			
			<!-- carousel slider - desktop set -->
			<!--(bake /partials/invest-tool-example-1.html)-->
			<!--(bake /partials/invest-tool-example-2.html)-->
			<!--(bake /partials/invest-tool-example-3.html)-->
			<!--(bake /partials/invest-tool-example-1.html)-->
			<!--(bake /partials/invest-tool-example-2.html)-->
			<!-- CLOSE: carousel slider - desktop set -->

		</div> <!-- CLOSE: tools carousel slider container -->

	</div>

	<div class="row">
		
		<div class="small-12">

			<div class="slider-controls">
				
				<button type="button" class="custom-carousel-control carousel-prev">&lt;</button>

				<button type="button" class="custom-carousel-control carousel-next">&gt;</button>

			</div>

		</div>

	</div>

</section>