<section class="site-module-product-content bg-plant-side top-spacer-large bottom-spacer-large">
		<div class="row">
			<div class="medium-5 medium-offset-6 columns">
				<div class="news-item bg-white">
					<header>
						<img src="{{components.market-insights-component.author-thumbnail}}" alt="" class="left" />
						<p class="author-details">
							<span class="author-name">{{components.market-insights-component.author-name}}</span>,
							<span class="author-position">{{components.market-insights-component.author-position}}</span>
							<span class="article-timestamp">{{components.market-insights-component.article-timestamp}}</span>
						</p>
					</header>
					<article>
						<h2>{{components.market-insights-component.article-title}}</h2>
						<p>{{components.market-insights-component.article-summary}}</p>
						<a href="{{components.market-insights-component.article-link.target}}" class="text-link">
							{{components.market-insights-component.article-link.text}}
						</a>
					</article>
				</div>



				<!-- <div class="vertical-centered-content">
					<div class="text-container">
						<h1 class="grey85 text-left">{{components.hero-style-2.title}}</h1>
						<p class="grey85 text-left introPara">{{components.hero-style-2.subtitle}}</p>

					</div>

				</div> -->

			</div>

		</div>


</section> <!-- CLOSE: site-module-product-hero -->
