<section class="site-module-news-section top-spacer-large bottom-spacer bg-grey3">

	<div class="row">
		<div class="small-12 columns">
			<h2 class="text-center">Markets &amp; Insights</h2>
		</div>
	</div>
	<div class="row bottom-spacer-large">
		<div class="small-12 small-centered columns">
			<hr class="divider dark small" />
		</div>
	</div>


	

	<div class="row bottom-spacer">

		<!-- <div class="small-12 medium-6 medium-centered columns">
			
			<h3 class="news-list-heading">Insights</h3>

			<hr class="divider light thin eq-spaced"/>

		</div> -->

		<div class="small-12 medium-8 medium-centered columns">
			
			<div class="news-article-main">
				
				<div class="article-image bg-hand-clock"></div>

				<div class="article-details bg-white">
					
					<small class="article-info text-right">
						<span class="article-author">Tom Stephenson</span>
						<span class="article-posting-time">16 May 2016</span><!-- &#x25cf; -->
						<!-- <span class="article-read-time">8 min read</span> -->
					</small>

					<h5>Heading for lead article</h5>

					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquam ante in quam commodo, vel tempor lacus eleifend.</p>

					<a href="" class="text-blue3">Read more</a>

				</div>

			</div>

		</div>

		<!-- <div class="small-12 medium-4 columns right">
			
			&&include&& "partials/news-article-template"

		</div>

		<div class="small-12 medium-4 columns right">
			
			&&include&& "partials/news-article-template"

		</div>

		<div class="small-12 medium-4 columns right">
			
			&&include&& "partials/news-article-template"

		</div> -->
		
	</div> <!-- CLOSE: inset row -->


	<!-- inset row -->

	<!-- <div class="row bottom-spacer">

		<div class="small-12 medium-4 columns right">
			
			<h3 class="news-list-heading">News</h3>

			<hr class="divider light thin eq-spaced"/>

		</div>

		<div class="small-12 medium-8 columns left">
			
			<div class="news-article-main">
				
				<div class="article-image bg-party-tables"></div>

				<div class="article-details bg-white">
					
					<small class="article-info text-right">
						<span class="article-author">Stacy Klimpton</span>
						<span class="article-posting-time">16 May 2016</span>&#x25cf;
						<span class="article-read-time">11 min read</span>
					</small>

					<h5>Heading for lead article</h5>

					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquam ante in quam commodo, vel tempor lacus eleifend.</p>

					<a href="" class="text-blue3">Read more</a>

				</div>

			</div>

		</div>

		<div class="small-12 medium-4 columns right">
			
			&&include&& "partials/news-article-template"

		</div>

		<div class="small-12 medium-4 columns right">
			
			&&include&& "partials/news-article-template"

		</div>

		<div class="small-12 medium-4 columns right">
			
			&&include&& "partials/news-article-template"

		</div>
		
	</div>  --> <!-- CLOSE: inset row -->

		
</section>