<!-- feature item -->
<div class="small-12 medium-4 columns">
	<section class="product-features-item bg-white">
		<h5 class="text-grey25">Product</h5>
		<div class="vertical-centered-content tool-title">
			<h3 class="text-center">Fidelity Stocks and Shares ISA</h3>
		</div>
		<hr class="divider dark small"/>
		<div class="squeeze20 top-spacer" data-equalizer-watch>
			<ul class="list-ticked" >
				<li>A tax-efficient way to invest &pound;15,240 this year</li>
				<li>Flexible access to your money</li>
				<li>Minimum lump sum investment of &pound;1,000 or &pound;50 every month</li>
				<li>Minimum top up amount of &pound;250</li>
				<li>Open to UK residents over the age of 18</li>
			</ul>
			<div class="centered-block-content">
				<a href="" class="text-link text-blue3">More information &gt;</a>
			</div>
			<div class="centered-block-content top-spacer">
				<button type="button" class="standard-button">
					<a href="http://o2qwcx.axshare.com/home.html">Open</a>
				</button>
			</div>

		</div>

	</section>
</div>

<!-- CLOSE: feature item -->