<section class="site-module-product-content-single top-spacer bg-white">
	<!--(bake /partials/theme-text-row.html )-->
	<div class="row">
		<div class="medium-6 medium-centered columns text-container centered-block-content">
			<h3 class="centered-block-content">{{components.intro-section.intro-para}}</h3 class="centered-block-content">
			<p class="introPara centered-block-content">{{components.intro-section.paragraph-1}}</p>
			<!--(bake /partials/small-disclaimer-text.html )-->
			<div class="button-row centered-block-content">
				<div class="standard-button">
					<a href="{{components.intro-section.intro-links.link-1.target}}">
						{{components.intro-section.intro-links.link-1.text}}
					</a>
				</div>
				<div class="standard-button">
					<a href="{{components.intro-section.intro-links.link-2.target}}">
						{{components.intro-section.intro-links.link-2.text}}
					</a>
				</div>
			</div>
		</div>
	</div>
</section> <!-- CLOSE: site-module-product-content -->
