<section class="site-module-product-content product-details-component top-spacer-large bottom-spacer-large bg-white">
	<div class="row top-spacer bottom-spacer">
		<div class="small-10 small-centered hide-for-large-up columns">
			<h2 class="section-title">{{components.product-details-section.headline}}</h2>
		</div>
			<div class="small-10 small-centered large-4 large-uncentered large-offset-1 columns">
				<h2 class="section-title show-for-large-up">{{components.product-details-section.headline}}</h2>
				<p class="top-spacer">{{components.product-details-section.paragraph}}</p>
			</div>
			<div class="small-7 small-centered medium-5 large-5 large-uncentered large-offset-1 columns">
				<img src="http://placehold.it/505x270" alt="" />
			</div>
			<hr class="component-divider" />
	</div> <!-- CLOSE row -->
</section>

<section class="site-module-product-content product-details-component top-spacer-large bottom-spacer-large bg-white">
	<div class="row top-spacer bottom-spacer">
		<div class="small-10 small-centered hide-for-large-up columns">
			<h2 class="section-title">{{components.product-details-section.headline}}</h2>
		</div>
			<div class="small-7 small-centered medium-3 large-3 large-uncentered large-offset-1 columns">
				<img src="http://placehold.it/300x332" alt="" />
			</div>
			<div class="small-10 small-centered large-6 large-uncentered large-offset-1 columns">
				<h2 class="section-title show-for-large-up">{{components.product-details-section.headline}}</h2>
				<p class="top-spacer">{{components.product-details-section.paragraph}}</p>
				<p class="simple-panel">
					<small>
						{{components.product-details-section.panel-text}} 
						<a href="{{components.product-details-section.terms-and-conditions-link.target}}" alt="" class="text-link" />
							{{components.product-details-section.terms-and-conditions-link.text}}
						</a>
					</small>
				</p>
				<a href="{{components.product-details-section.text-link.target}}" alt="" class="text-link" />
					{{components.product-details-section.text-link.text}}
				</a>
				<div class="standard-button left-spacer">
					<a href="{{components.product-details-section.button-link.target}}" alt="" />
						{{components.product-details-section.button-link.text}}
					</a>
				</div>
			</div>
				<hr class="component-divider" />
	</div> <!-- CLOSE row -->
</section>
