<section class="tools-section-offscreen-container bg-white clearfix">
	<div class="inner-container clearfix">
		<section class="tools-section-title-bar bottom-border">
			
			<div class="row">

				<div class="small-10 columns">
					<h3>ISA Calculator</h3>
				</div>
				<div class="small-2 columns">
					<a class="js-close-tools icon-x close-button text-grey60">&#215;</a>
				</div>
				
			</div> <!-- CLOSE: row -->

		</section>

		<section class="tools-section-intro">

			<div class="row">
				
				<div class="small-12 medium-8 small-centered columns bottom-spacer">
					
					<div class="illustration icon-tool graph-small"></div>

					<p class="introPara">Deck copy introduction lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

					<p>Body copy regular
					&&include&& "common/dummy_text"
					</p>

				</div>

			</div> <!-- CLOSE: row -->

		</section>

		<section class="tools-section-tool-select bottom-border">

			<div class="row">
				
				<div class="small-12 columns bottom-spacer">
					
					<p class="introPara text-center">1. Choose a calculation type...</p>

				</div>

				<div class="small-12 medium-8 large-5 small-centered columns clearfix">
					
					<button type="button" class="button skeleton active left">Investment based<span class="tri"></span></button>

					<button type="button" class="button skeleton right">Goal based<span class="tri"></span></button>

				</div>

				<div class="small-12 medium-8 large-5 small-centered columns linked-tri-container">
					<span class="linked-tri left-active"></span>
				</div>

			</div>

		</section>

		<section class="tools-section-tool-option bottom-border top-spacer-large bottom-spacer clearfix">

			<div class="row">
				<div class="small-12 columns">
					<p class="introPara text-center">2. How long would you like to invest for...</p>
				</div>
			</div>

			<div class="row">
				<div class="small-12 medium-6 medium-centered columns bottom-spacer">

					<div class="range-display invest-period-display">
						<p class="range-output text-center"><span class="js-range-amount">0</span>years</p>
					</div>

					<div class="range-slider round invest-period" data-slider data-options="start: 1; end: 20; step: 1;">
						<span class="range-slider-handle" role="slider" tabindex="0" aria-labelledby="sliderLabel"></span>
						<span class="range-slider-active-segment bg-blue3"></span>
						<input type="hidden">
						<span class="range-min-value-label text-grey60">1 year</span>
						<span class="range-max-value-label text-grey60">20 years</span>
					</div>

				</div>
			</div>

		</section>

		<section class="tools-section-tool-option bottom-border top-spacer-large bottom-spacer clearfix">

			<div class="row">
				<div class="small-12 columns">
					<p class="introPara text-center">3. How much would you like to save...</p>
				</div>
			</div>

			<div class="row">
				<div class="small-12 medium-6 medium-centered columns bottom-spacer">

					<div class="range-display invest-amount-display">
						<p class="range-output text-center">&pound;<span class="js-range-amount">0</span>per month</p>
					</div>

					<div class="range-slider round invest-amount" data-slider data-options="start: 0; end: 1270; step: 10;">
						<span class="range-slider-handle" role="slider" tabindex="0" aria-labelledby="sliderLabel"></span>
						<span class="range-slider-active-segment bg-blue3"></span>
						<input type="hidden">
						<span class="range-min-value-label text-grey60">&pound;0</span>
						<span class="range-max-value-label text-grey60">&pound;1,270 (max)</span>
					</div>

				</div>
			</div>
		
		</section>

		<section class="tools-section-tool-option bottom-border top-spacer-large bottom-spacer-large clearfix">

			<div class="row">
				<div class="small-12 medium-8 small-centered columns text-center">
					<button type="button" class="button blue large js-calculate">Calculate</button>
				</div>
			</div>

		</section>

	</div> <!-- CLOSE: inner container -->

</section>