<section class="site-module-invest-advice top-spacer-large bottom-spacer-large">

	<div class="row">
		<div class="small-12 columns centered-block-content">
			<h2>{{components.triple-nudge-section.headline}}</h2>
		</div>
	</div>
	<div class="row">
		<div class="small-8 medium-centered columns centered-block-content">
				<p>{{components.triple-nudge-section.paragraph}}</p>
		</div>
	</div>

	<!-- <div class="row">
		<div class="small-12 small-centered columns">
			<hr class="divider dark small" />
		</div>
	</div> -->
	<div class="row">
		<div class="small-12 small-centered columns">
			<div class="row" data-equalizer data-equalizer-mq="medium-up">
				<!--(bake /partials/triple-nudge-item.html _foreach="nudge-item:components.triple-nudge-section.nudge-items")-->
			</div>
		</div>
	</div> <!-- CLOSE: row-->
</section> <!-- CLOSE: site-module-invest-advice -->
