<section class="site-module-product-content top-spacer border-bottom-light position-lock">
	<div class="row row-backlayer">
		<div class="small-10 small-offset-1 columns v-offset-down">
			<hr class="divider lightest"/>
			<div class="video-banner-bg bg-tom"></div>
		</div>
	</div>
	<div class="row">
		<div class="small-10 small-offset-1 medium-7 medium-offset-1 columns">
			<div class="vertical-centered-content top-spacer-large bottom-spacer">
				<div class="video-banner-content top-spacer bottom-spacer">
					<a href="#" class="content-button">
						<span class="content-button-icon left">&#9654;</span>
						<h2 class="content-button-headline left">Stocks and Shares ISA Explained</h2>
						<p class="content-button-subtitle left">See how our ISA could do more for your money</p>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!-- 
		<div class="row bottom-spacer-large" data-equalizer>
			<div class="small-3 small-offset-8 medium-3 columns end" data-equalizer-watch>
				<img class="video-banner-img" src="assets/img/tom.png" alt="" />
			</div>
		</div> 
	-->
</section>