$icomoon-font-path: "fonts" !default;

$icon-card-cvc: "\e903";
$icon-verified: "\e900";
$icon-factsheet-full: "\e925";
$icon-post: "\e905";
$icon-search: "\e906";
$icon-select: "\e923";
$icon-account: "\e909";
$icon-check-mail: "\e90a";
$icon-help: "\e90b";
$icon-lock-account: "\e90c";
$icon-messages: "\e90d";
$icon-mobile: "\e90e";
$icon-watchlist: "\e90f";
$icon-confirm: "\e912";
$icon-info: "\e914";
$icon-star-line: "\e908";
$icon-star-fill: "\e907";
$icon-menu: "\e915";
$icon-warning: "\e916";
$icon-error: "\e913";
$icon-compare: "\e917";
$icon-contract: "\e918";
$icon-expand: "\e919";
$icon-export: "\e91a";
$icon-factsheet: "\e91b";
$icon-print: "\e91c";
$icon-refresh: "\e91d";
$icon-settings: "\e91e";
$icon-account-add: "\e91f";
$icon-buy: "\e920";
$icon-arrow-down: "\e901";
$icon-arrow-up: "\e902";
$icon-add: "\e910";
$icon-close: "\e911";
$icon-chart: "\e921";
$icon-market: "\e922";
$icon-sell: "\e924";
$icon-globe: "\e926";
$icon-report: "\e927";
$icon-computer: "\e928";
$icon-tick: "\e929";
$icon-hand: "\e930";
$icon-movie: "\e931";
$icon-down-sort: "\e932";
$icon-up-sort: "\e933";
$icon-chevron-down-s: "\e934";
$icon-chevron-up-s: "\e935";
$icon-chevron-down-m: "\e936";
$icon-chevron-up-m: "\e937";
$icon-menu-burger: "\e938";
$icon-no-entry: "\e939";
$icon-square: "\e940";
$icon-line: "\e941";
$icon-droplet-line: "\e942";
$icon-droplet-fill: "\e943";
$icon-droplet-alt-line: "\e944";
$icon-droplet-alt-fill: "\e945";
$icon-circle-right: "\e946";
$icon-circle-wave: "\e947";
$icon-circle-zig: "\e948";
$icon-saving: "\e949";
$icon-home: "\e950";
$icon-quantitative: "\e951";
$icon-hand-point: "\e952";
$icon-exit: "\e953";
$icon-calendar: "\e954";
$icon-clock: "\e955";
$icon-other-account: "\e956";
$icon-lock-tick: "\e957";
$icon-leaf: "\e958";
$icon-computer-tick: "\e959";
$icon-sms-alert: "\e960";
$icon-edit-income-settings: "\e961";
$icon-chevron-left-m: "\e962";
$icon-chevron-right-m: "\e963";
$icon-pencil: "\e964";
$icon-tag: "\e965";
$icon-award: "\e966";
$icon-favourites: "\e967";
$icon-mobile-flip: "\e968";
$icon-back: "\e969";
$icon-forward: "\e970";
$icon-pause: "\e971";
$icon-stop: "\e972";
$icon-play: "\e973";
$icon-map-pin: "\e974";
$icon-view-docs: "\e975";
$icon-pdf: "\e976";
$icon-compare-90: "\e977";
$icon-group: "\e978";
$icon-lock-edit: "\e979";
$icon-attach: "\e980";
$icon-currency: "\e981";
$icon-expand-filters: "\e982";
$icon-new-window: "\e983";
$icon-sm-right-chevron: "\e984";
$icon-sm-left-chevron: "\e985";

