{% extends "layouts/main.html" %}

{% block mainContent %}

<div class="row">
	<div class="small-12 medium-10 columns gutted-l">

<h1 class="rhythmic-xxl">The quick brown fox jumps over the lazy dog</h1>
<h2 class="rhythm-m-1">The quick brown fox jumps over the lazy dog</h2>
<h3 class="rhythm-m-1">The quick brown fox jumps over the lazy dog</h3>
<h4 class="rhythm-m-1">The quick brown fox jumps over the lazy dog</h4>
<h5 class="rhythm-m-1">The quick brown fox jumps over the lazy dog</h5>
<h6 class="rhythm-m-1">The quick brown fox jumps over the lazy dog</h6>


  <div class="introPara">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus perferendis ipsam accusantium quaerat ratione et id, suscipit sed, vero esse cum beatae eum iste nam necessitatibus a totam consequatur molestiae?</p>
  </div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt sed quae praesentium dolorum, fugit voluptatem nisi similique voluptatum neque qui, laboriosam facere blanditiis omnis. Officiis, id, esse. Qui, eaque maxime!</p>
		<p>A at amet officia ut, dolor sapiente repellendus ullam, odio quisquam hic eos repudiandae necessitatibus aut vero laudantium consectetur laborum! Quis minus, ipsum necessitatibus at dignissimos sapiente similique iure. In?</p>
		<p>Voluptatum asperiores rem ipsa iste. Maxime rerum porro asperiores eveniet numquam ipsa culpa quas et repellendus, laudantium est aliquid, ad maiores fuga officia vitae aut sit. Labore, beatae est fugit.</p>

		<ul>
			<li>Bullet list items</li>
			<li>Bullet list items</li>
			<li>Bullet list items</li>
			<li>Bullet list items</li>
			<li>Bullet list items</li>
		</ul>

		<ol>
			<li>Numbered list items</li>
			<li>Numbered list items</li>
			<li>Numbered list items</li>
			<li>Numbered list items</li>
			<li>Numbered list items</li>
		</ol>

	</div>
</div>

<fieldset class="row checkbox-group">
      <legend class="medium-12 columns h5">View by:</legend>
              <div class="medium-4 columns">
          <input id="checkbox1" type="checkbox"><label class="custom-check" for="checkbox1">All accounts</label>
        </div>
        <div class="medium-4 columns">
          <input id="checkbox2" type="checkbox"><label class="custom-check" for="checkbox2">Direct accounts</label>
        </div>
        <div class="medium-4 columns">
          <input id="checkbox3" type="checkbox"><label class="custom-check" for="checkbox3">ISA accounts</label>
        </div>
        <div class="medium-4 columns">
          <input id="checkbox4" type="checkbox"><label class="custom-check" for="checkbox4">Join accounts</label>
        </div>
        <div class="medium-4 columns float-left">
  	     <input id="checkbox5" type="checkbox"><label class="custom-check" for="checkbox5">Other accounts</label>
        </div>
</fieldset>

<fieldset class="row radio-group">
      <legend class="medium-12 columns h5">View by:</legend>
              <div class="medium-4 columns">
          <input id="radio1" type="radio" name="viewRadio"><label class="custom-radio" for="radio1">All accounts</label>
        </div>
        <div class="medium-4 columns">
          <input id="radio2" type="radio" name="viewRadio"><label class="custom-radio" for="radio2">Direct accounts</label>
        </div>
        <div class="medium-4 columns">
          <input id="radio3" type="radio" name="viewRadio"><label class="custom-radio" for="radio3">ISA accounts</label>
        </div>
        <div class="medium-4 columns">
          <input id="radio4" type="radio" name="viewRadio"><label class="custom-radio" for="radio4">Join accounts</label>
        </div>
        <div class="medium-4 columns float-left">
         <input id="radio5" type="radio" name="viewRadio"><label class="custom-radio" for="radio5">Other accounts</label>
        </div>
</fieldset>



<div class="row">
      <div class="medium-6 columns">
        <h3 class="h5">Total account value<span class="icon-info icon-small"></span></h3>
        <div class="value sterling">
          <span class="intergers">£62,512<span class="fractions">.69</span></span>
          
        </div>
      </div>
      <div class="medium-6 columns">
        <h3 class="h5">Unrealised gain<span class="icon-info icon-small"></span></h3>
        <div class="sterling value small positive">
          <span class="intergers">+£62512<span class="fractions">.69</span></span>
         
        </div>
      </div>

      <p class="footnote medium-12 columns">Valuation updated at 30 April 2015 at 9:15am</p>
</div>


<div class="row">
    <div class="medium-10 columns btn-block rhythmic-xs">
      <a href="" class="btn btn-cta">Click me
      </a><a href="" class="btn btn-secondary">Click me
      </a><a href="" class="btn btn-tertiary">Click me
      </a><a href="" class="btn btn-link">Click me</a>
    </div>
</div>


<div class="row">
    <div class="medium-10 columns rhythmic-xs btn-block-confirm">
      <a href="" class="btn btn-cta">One
      </a><a href="" class="btn btn-secondary">One + 1/2
      </a><a href="" class="btn btn-link">Two
      </a><a href="" class="btn btn-link">Three
      </a><a href="" class="btn btn-link">Four</a>
    </div>
</div>


<div class="row">
    <div class="medium-10 columns rhythmic-xs btn-block-center">
      <a href="" class="btn btn-link">One
      </a><a href="" class="btn btn-link">Two
      </a><a href="" class="btn btn-cta">Three</a>
    </div>
</div>

<hr>
{% endblock %}