{% extends "layouts/main.html" %}

{% block title %}
<title>Expand-Collapse</title>
{% endblock %}

{% block mainContent %}
<section class="site-module_container_wrapper">
    <section class="site-module_container bg-white">
        <div class="row">
            <div class="basic-content">
                <div class="small-centered large-6 medium-8 small-10 columns">
                    <div>
                        <div class="site-module_title">
                            <h2>Benefits and risks of ETFs</h2>
                        </div>
                        <div class="site-module_content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            </p>
                        </div>
                        <div class="site-module_links">
                            <div class="row">
                                <div class="small-12 small-centered columns text-center">
                                    <div class="text-link">
                                        <a title="" class="toggle-trigger" href="#">
                                            <div class="display">
                                                <span class="">Show more</span>
                                                <span class="icon--chevron-down-s"></span>
                                            </div>
                                            <div class="display">
                                                <span class="">Show less</span>
                                                <span class="icon--chevron-up-s"></span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="site-module_container content-panel bg-grey3">
        <div class="row">
            <div class="basic-content">
                <div class="small-centered large-6 medium-8 small-10 columns">
                    <div>
                        <div class="site-module_title">
                            <h2>Benefits and risks of ETFs</h2>
                        </div>
                        <div class="site-module_content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<section class="site-module_container_wrapper">
    <section class="site-module_container bg-white">
        <div class="row">
            <div class="basic-content">
                <div class="small-centered large-6 medium-8 small-10 columns">
                    <div>
                        <div class="site-module_title">
                            <h2>Benefits and risks of ETFs</h2>
                        </div>
                        <div class="site-module_content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            </p>
                        </div>
                        <div class="site-module_links">
                            <div class="row">
                                <div class="small-12 small-centered columns text-center">
                                    <div class="text-link">
                                        <a title="" class="toggle-trigger" href="#">
                                            <div class="display">
                                                <span class="">Show more</span>
                                                <span class="icon--chevron-down-s"></span>
                                            </div>
                                            <div class="display">
                                                <span class="">Show less</span>
                                                <span class="icon--chevron-up-s"></span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="site-module_container content-panel bg-grey3">
        <div class="row">
            <div class="basic-content">
                <div class="small-centered large-6 medium-8 small-10 columns">
                    <div>
                        <div class="site-module_title">
                            <h2>Benefits and risks of ETFs</h2>
                        </div>
                        <div class="site-module_content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
{% endblock %}
