{% extends "layouts/main.html" %}

{% block title %}
<title>General Investment</title>
{% endblock %}

{% block mainContent %}

<section class="site-module-product-hero component-wrapper bg-hero-image clearfix">
		<div class="row clearfix" data-equalizer>
			<div class="small-12 medium-6 columns top-spacer bottom-spacer" data-equalizer-watch>
				<h1 class="grey85">
					General Investment
				</h1>
				<h5 class="grey85">
					A Fidelity Stocks and Shares ISA is an easy to manage, tax efficient way to make the most out of your savings.
				</h5>
			</div>
		</div><!-- CLOSE: site-module-product-hero-title-container -->
</section> <!-- CLOSE: site-module-product-hero -->

<section class="site-module_container">
	<div class="row">
		<div class="medium-6 medium-centered columns text-center">
			<div class="site-module_title">
				<h3>Start investing your way</h3>
			</div>
			<div class="site-module_content intro">
				<p>A Fidelity Lifetime ISA is a new, tax-savvy way to help you save for your first house or your retirement.</p>
			</div>
			<section class="site-module-product-content top-spacer bg-white rhythm-m-1">
				<div class="row">
					<div class="medium-12 columns">
						<div class="small-disclaimer-text text-grey60 text-center">
							<small>Remember, as with all investing, your capital is at risk and ISA eligibility rules apply.</small>
						</div>
					</div>
				</div>
			</section> <!-- CLOSE: site-module-product-content -->
			<div class="site-module_links">
				<div class="standard-button">
					<a href="#" title="">Open an ISA</a>
				</div>
			</div>
		</div>
	</div>
</section> <!-- CLOSE: site-module_container -->
<section class="site-module_container bg-soft-grey-gradient">
	<section class="site-module-invest-advice top-spacer-large bottom-spacer-large">
		<div class="row">
			<div class="small-12 columns text-center">
				<h2>Why a Lifetime ISA?</h2>
			</div>
		</div>
		<div class="row">
			<div class="small-12 small-centered columns">
					<div class="row" data-equalizer="" data-equalizer-mq="medium-up">
						<!-- feature item -->
						<div class="small-12 medium-4 columns">
							<section class="invest-advice-item bottom-spacer">
								<div class="invest-advice-content-container text-center" data-equalizer-watch="">
									<h5 class="text-grey60 eq-spacer">Award-winning service</h5>
									<p class="text-grey60">
										From Daily Insights to in-depth market reports and regular investment picks, our expertise can help guide you.
										<a href="#" class="text-blue3" title=""></a>
									</p>
								</div>
							</section>
						</div>
						<!-- feature item -->
						<div class="small-12 medium-4 columns">
							<section class="invest-advice-item bottom-spacer">
								<div class="invest-advice-content-containe text-center" data-equalizer-watch="">
									<h5 class="text-grey60 eq-spacer">Easy access for the whole family</h5>
									<p class="text-grey60">
										Our online account management system and apps mean parents and grandparents can contribute, no matter where in the world they live.
										<a href="#" class="text-blue3" title=""></a>
									</p>
								</div>
							</section>
						</div>
						<!-- feature item -->
						<div class="small-12 medium-4 columns">
							<section class="invest-advice-item bottom-spacer">
								<div class="invest-advice-content-container text-center" data-equalizer-watch="">
									<h5 class="text-grey60 eq-spacer">Clear and simple charges</h5>
									<p class="text-grey60">
										We won't charge you any exit fees, and typically offer some of the best rates in the business.
										<a href="#" class="text-blue3" title="">Find out more</a>
									</p>
								</div>
							</section>
						</div>
					</div>
				</div>
		</div> <!-- CLOSE: row-->
	</section> <!-- CLOSE: site-module-invest-advice -->
</section>
<section class="site-module_container product-details-component bg-white">
	<div class="row top-spacer bottom-spacer">
		<div class="small-10 small-centered hide-for-large-up columns">
			<h2 class="section-title">Looking for some fund inspiration?</h2>
		</div>
			<div class="small-10 small-centered large-4 large-uncentered large-offset-1 columns">
				<h2 class="section-title show-for-large-up">Looking for some fund inspiration?</h2>
				<p class="top-spacer">Keeping track of all your ISAs through different providers can be tricky and costly. Our transfer service makes it easy to bring all your ISAs together. Just use our simple online application form to tell us where your ISAs are currently held and we'll take care of the rest by contacting the companies on your behalf and arranging the transfer.</p>
				<div class="button-row">
					<div class="standard-button">
						<a href="#" title="">Invest now</a>
					</div>
				</div>
			</div>
			<div class="small-7 small-centered medium-5 large-5 large-uncentered large-offset-1 columns">
				<img src="http://placehold.it/505x270" alt="" />
			</div>
			<hr class="component-divider" />
	</div> <!-- CLOSE row -->
</section>

{% endblock %}
