{% extends "layouts/toolkit.html" %}

{% block toolkitTitle %}
<h2 class="text-center text-grey3">Elements and default styles</h2>
{% endblock %}

{% block mainContent %}

<!-- ////////// Typography ////////// -->

<!-- Headings -->

<div class="row">
    <div class="large-12 columns panel">
        <h2>Typography - Headings</h2>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <div class="js-dev-element">
            <h1>H1 tag in NeuzeitGro "light" at 56px</h1>
        </div>
    </div>

    <div class="large-12 columns">
        <div class="js-dev-element">
            <h2>H2 tag in NeuzeitGro "light" at 36px</h2>
        </div>
    </div>

    <div class="large-12 columns">
        <div class="js-dev-element">
            <h3>H3 tag in NeuzeitGro "light" at 33px</h3>
        </div>
    </div>

    <div class="large-12 columns">
        <div class="js-dev-element">
            <h4>H4 tag in NeuzeitGro "light" at 27px</h4>
        </div>
    </div>

    <div class="large-12 columns">
        <div class="js-dev-element">
            <h5>H5 tag in 'default' font at 23px</h5>
        </div>
    </div>

</div>

<!-- Paragraphs -->

<!-- Introduction paragraph -->

<div class="row">

    <div class="large-12 columns panel">
        <h2>Typography - Paragraph - Introduction</h2>
    </div>

</div>

<div class="row">
    <div class="small-12 columns">
        <div class="intro">
            <p>
                Deck copy introduction usually 6 column span max on large screen. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non mi sit amet mi tempor volutpat.
            </p>
        </div>
    </div>
</div>

<!-- Standard Paragraph -->

<div class="row">
    <div class="large-12 columns panel">
        <h2>Typography - Paragraph - Standard</h2>
    </div>

</div>

<div class="row">

    <div class="large-12 columns">
        <div class="js-dev-element">
            <p>
                Standard paragraph in NeuzeitGro "regular" at 16px.
            </p>
        </div>
    </div>

</div>


<!-- Blockquote -->

<div class="row">

    <div class="large-12 columns panel">
        <h2>Typography - Blockquote</h2>
    </div>

</div>

<div class="row">

    <div class="large-12 columns">
        <div class="js-dev-element">
            <blockquote>Blockquote tag in 'default' font at 52px</blockquote>
        </div>
    </div>

</div>

<!-- small -->

<div class="row">

    <div class="large-12 columns panel">
        <h2>Typography - Small</h2>
    </div>

</div>

<div class="row">

    <div class="large-12 columns">
        <div class="js-dev-element">
            <small>
                Small tag in NeuzeitGro "regular" at 14px.
            </small>
        </div>
    </div>

</div>

<div class="row">

    <div class="large-12 columns panel">
        <div class="js-dev-element">
            <h2>Links - text, text with icon</h2>
        </div>
    </div>

</div>

<div class="row">

    <div class="small-12 medium-6 columns">
        <div class="js-dev-element">
            <a href="#" class="text-link" title="">Text link</a>
        </div>
    </div>

    <div class="small-12 medium-6 columns">
        <div class="js-dev-element">
            <a href="#" class="text-link-icon play" title="">Text link</a>
        </div>
    </div>

</div>

<div class="row">

    <div class="large-12 columns panel">
        <h2>Buttons</h2>
    </div>

</div>

<div class="row">
    <div class="js-dev-element">
        <div class="standard-button">
            <a href="#" title="">Button</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="small-12 columns panel">
        <h2>Lists</h2>
    </div>
</div>

<div class="row">

    <div class="small-12 medium-6 columns">
        <p>An Unordered list</p>
        <div class="js-dev-element">
            <ul>
                <li>Un-ordered list item</li>
                <li>Another list item</li>
                <li>Another list item</li>
                <li>Another list item</li>
                <li>Another list item</li>
                <li>Another list item</li>
            </ul>
        </div>
    </div>

    <div class="small-12 medium-6 columns">
        <p>An Ordered list</p>
        <div class="js-dev-element">
            <ol>
                <li>Ordered list item</li>
                <li>Another list item</li>
                <li>Another list item</li>
                <li>Another list item</li>
                <li>Another list item</li>
                <li>Another list item</li>
            </ol>
        </div>
    </div>

</div>

<div class="row">
    <div class="small-12 columns panel">
        <h2>Full Width Container</h2>
    </div>
</div>

<div class="js-dev-element">
    <section class="full-width top-spacer bottom-spacer bg-grey3">
        <div class="row">
            <div class="small-12 columns">
                <p class="bg-white">
                    Full width container with 2 em padding top and bottom to contain content.
                </p>
            </div>
        </div>
    </section>
</div>

{% endblock %}
