{% extends "layouts/main.html" %}

{% block title %}
<title>Multicolumn stacked</title>
{% endblock %}

{% block mainContent %}
<section id="multi-column__stacked" class="site-module_container">
    <div class="row">
        <div class="small-12 columns">
            <div class="site-module_title text-center">
                <h2>Why a Lifetime ISA?</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <ul class="row clearfix">
                <li class="small-12 medium-4 columns">
                    <div data-equalizer-watch="" class="multi-column_item text-center">
                        <span class="icon--select"></span>
                        <span class="icon_shadow"></span>
                        <div class="site-module_title">
                            <h4>ISAs</h4>
                        </div>
                        <div class="site-module_content">
                            <p>
                                Find tax-savvy ways to invest smarter, faster
                            </p>
                        </div>
                        <div class="site-module_links">
                            <div class="text-link">
                                <a href="#" title="">Find out more</a>
                            </div>
                            <div class="standard-button">
                                <a href="#" title="">Open a ISA</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="small-12 medium-4 columns">
                    <div data-equalizer-watch="" class="multi-column_item text-center">
                        <span class="icon--select"></span>
                        <span class="icon_shadow"></span>
                        <div class="site-module_title">
                            <h4>Pension Account (SIPPs)</h4>
                        </div>
                        <div class="site-module_content">
                            <p>
                                Take control of your retirement with our Self-invested Personal Pension
                            </p>
                        </div>
                        <div class="site-module_links">
                            <div class="text-link">
                                <a href="#" title="">Find out more</a>
                            </div>
                            <div class="standard-button">
                                <a href="#" title="">Open a SIPP</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="small-12 medium-4 columns">
                    <div data-equalizer-watch="" class="multi-column_item text-center">
                        <span class="icon--select"></span>
                        <span class="icon_shadow"></span>
                        <div class="site-module_title">
                            <h4>Investment Account</h4>
                        </div>
                        <div class="site-module_content">
                            <p>
                                Build your own portfolio.
                            </p>
                        </div>
                        <div class="site-module_links">
                            <div class="text-link">
                                <a href="#" title="">Find out more</a>
                            </div>
                            <div class="standard-button">
                                <a href="#" title="">Open an account</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
{% endblock %}
