{% from "macros/heros.html" import heroImage %}

{% extends "layouts/main.html" %}

{% block title %}
<title>Multimedia</title>
{% endblock %}

{% block mainContent %}

{{ heroImage( 'ETFs - Exchanged traded funds' ) }}

<section class="site-module_container">
    <div class="row">
        <div class="small-centered medium-uncentered medium-overlay medium-offset-1 small-10 medium-5 columns">
            <div class="site-module_title">
                <h2>Lorem ipsum dolor sit amet</h2>
            </div>
            <div class="site-module_content">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
            <div class="site-module_links text-link">
                <a href="#" title="">Lorem ipsum</a>
            </div>
        </div>
        <div class="small-centered medium-uncentered medium-underlay medium-offset-1 small-10 medium-4 columns">
            <div class="site-module_image">
                <!-- image -->
            </div>
        </div>
    </div>
</section>

<section class="site-module_container">
    <div class="row">
        <div class="small-centered medium-uncentered medium-underlay medium-offset-1 small-10 medium-4 columns">
            <div class="site-module_image">
                <!-- image -->
            </div>
        </div>
        <div class="small-centered medium-uncentered medium-overlay medium-offset-1 small-10 medium-5 columns">
            <div class="site-module_title">
                <h2>Lorem ipsum dolor sit amet</h2>
            </div>
            <div class="site-module_content">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
            <div class="site-module_links text-link">
                <a href="#" title="">Lorem ipsum</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}
