{% from "macros/heros.html" import heroImage %}
{% extends "layouts/main.html" %}
{% block title %}

<title>Pathfinder Page</title>

{% endblock %}

{% block mainContent %}

{{ heroImage( 'Ready-made funds based on your preferred risk level' ) }}

<div class="border-b overflow-hidden">

    {% include "partials/pathfinder/graph.html" %}

</div>

<!-- /.border-b -->

<div class="bg-grey3">

    <section class="row  rhythmic-xxxl">

        <div class="column large-6 large-offset-3 end">

            <div class="text-center">

                <div class="rhythm-m-1">

                    <h2 class="h3 number-badge number-badge--dotted">2</h2>

                    <h2 class="h3 number-badge hide">2</h2>

                </div>

                <h2 class="rhythm-m-2">Now decide how you'd like your money managed</h2>

                <p class="rhythm-m-2 step-2-activatable hide">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt magnam eos aspernatur cupiditate nulla, porro voluptate facilis, at quos praesentium, ut ratione itaque. Quaerat, saepe, eligendi. Explicabo eveniet aperiam, ipsam.</p>

            </div>

        </div>

        <div class="column large-5 medium-5 large-offset-1 medium-offset-1 step-2-activatable hide">

            <div class="option-panel text-center gutted rhythmic-xxxl border bg-white">

                <h2 class="rhythm-m-1">Active</h2>

                <p class="rhythm-m-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae minima optio, mollitia voluptatem saepe neque aut eveniet hic recusandae molestias itaque, laudantium quasi nihil possimus maiores aperiam quis maxime pariatur!</p>

                <a href="#" title="" class="btn btn-secondary js-select-fund-trigger" data-type="active">Select this fund type</a>

            </div>

        </div>

        <div class="column large-5 medium-5 end step-2-activatable hide">

            <div class="option-panel text-center gutted rhythmic-xxxl border bg-white">

                <h2 class="rhythm-m-1">Passive</h2>

                <p class="rhythm-m-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae minima optio, mollitia voluptatem saepe neque aut eveniet hic recusandae molestias itaque, laudantium quasi nihil possimus maiores aperiam quis maxime pariatur!</p>

                <a href="#" title="" class="btn btn-secondary js-select-fund-trigger" data-type="passive">Select this fund type</a>

            </div>

        </div>

    </section>

</div>

<!-- /.bg-grey3 -->

<div class="fund-info-container">

</div>



{% endblock %}
