{% from "macros/buttons.html" import standardButton %}

{% extends "layouts/main.html" %}

{% block title %}
<title>Text area</title>
{% endblock %}

{% block mainContent %}
<section class="site-module_container">
    <div class="row">
        <div class="basic-content">
            <div class="small-centered large-6 medium-8 small-10 columns">
                <div>
                    <div class="site-module_title">
                        <h2>Benefits and risks of ETFs</h2>
                    </div>
                    <div class="site-module_content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </div>
                    <div class="site-module_links">
                        <div class="row">
                            <div class="medium-6 small-12 columns">
                               <a href="#" class="btn btn-link" title="">Text link</a>
                            </div>
                            <div class="medium-6 small-12 columns">
                                {{ standardButton( 'Button' ) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
