@import "stacked";
@import "carousel";
@import "orbit-overrides";




.multi-column_item {
    box-sizing: border-box;
    color: inherit;
    min-height: 320px;
    padding: 30px 20px;
    position: relative;
    @media #{$medium-up} { 
        padding: 32px 20px;
        &:hover {
            background: $white;
        }
    }
    @media #{$large-up} { 
        padding: 36px 20px;
    } 
	[class^="icon--"], 
    [class*=" icon--"] {
    	display: block;
    	font-size: 4rem;
    }
    .icon_shadow {
    	background: url(#{$imgPath}icon_shadow.png);
    	display: inline-block;
		height: 14px;
		margin: 18px 0 12px;
    	width: 83px;
    }
    p {
        padding: 0 20px;
    }
}








