<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
    {% block title %}
    <title>Fidelity - Flat site</title>
    {% endblock %}

    {% block css %}
    <link rel="stylesheet" href="assets/css/vendor.css" />
    <link rel="stylesheet" href="assets/css/main.css" />
    {% endblock %}

    {% block headerJs %}
    <script src="assets/js/modernizr.js"></script>
    {% endblock %}
</head>
<body>

{% block mainNav %}
{% include "partials/mainNavigation.html" %}
{% endblock %}

<main>
{% block mainContent %}
{# Main content #}
{% endblock %}
</main>

{% block footer %}

{% endblock %}

{% block globalJs %}

<script src="assets/js/vendor.js"></script>
<script src="assets/js/custom.js"></script>
{% endblock %}

{% block pageJs %}
{# Page specific js #}
{% endblock %}


<div class="js-mediaquery"></div>



</body>
</html>
