<!doctype html>

<html class="no-js" lang="en">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% block title %}
    <title>Flatsite - Default Element Styling</title>
    {% endblock %}


    <link rel="stylesheet" href="assets/css/main.css" />
    <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>

</head>

<body>

    <section class="toolkit-site-header bg-grey85">
        <div class="row">
            <div class="large-12 columns text-center">
                <h1>Flat Site Toolkit</h1>
                <p>Sandbox for Flat-site design system including elements, components and prototype page builds</p>
            </div>
        </div>
        <div class="row">
            <div class="small-12">
                <nav class="toolkit-primary-nav">
                    <ul class="toolkit-primary-nav-container text-center">
                        <li>
                            <a href="index.html" title="">Elements</a>
                        </li>
                        <li>
                            <a href="components.html" title="">Components</a>
                        </li>
                        <li>
                            <a title="" aria-expanded="false" href="#" data-dropdown="pageList">Page Prototypes »</a>
                        </li>
                        <li>
                            <a title="" aria-expanded="false" href="#" data-dropdown="testPageList">Page Tests »</a>
                        </li>
                    </ul>
                    <ul class="f-dropdown" id="pageList" aria-hidden="true">
                        <li>
                            <a href="product-page-prototype.html" title="">Product Page</a>
                        </li>
                        <li>
                            <a href="stocks-and-shares-isa.html" title="">Stocks &amp; Shares ISA</a>
                        </li>
                        <li>
                            <a href="junior-isa.html" title="">Junior ISA</a>
                        </li>
                        <li>
                            <a href="lifetime-isa.html" title="">Lifetime ISA</a>
                        </li>
                    </ul>
                    <ul class="f-dropdown" id="testPageList" aria-hidden="true">
                        <li>
                            <a href="isa-test.html" title="">ISA page</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns text-center">
                {% block toolkitTitle %}
                <h2 class="text-grey3">Elements and default styles</h2>
                {% endblock %}
            </div>
        </div>
    </section>

    {% block mainContent %}
    {# Main content #}
    {% endblock %}

    <script src="assets/js/vendor/jquery-1.12.0.min.js"></script>
    <script src="assets/js/vendor/foundation.min.js"></script>
    <script src="assets/js/vendor/slick/slick.js"></script>
    <script>
      $(document).foundation();
    </script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/dev-only.js"></script>

</body>
