.box-shadow {
	border-style: solid;
	border-color: $grey-25;
	border-width: 1px 1px 4px 1px;
	background: $white;
}

.box-flat-white {
	border: none;
	background: $white;
}
.box-flat-grey {
	border: none;
	background: $grey-25;
}
