$icon-card-cvc: "\e903";
$icon-verified: "\e900";
$icon-factsheet-full: "\e925";
$icon-post: "\e905";
$icon-search: "\e906";
$icon-select: "\e923";
$icon-account: "\e909";
$icon-check-mail: "\e90a";
$icon-help: "\e90b";
$icon-lock-account: "\e90c";
$icon-messages: "\e90d";
$icon-mobile: "\e90e";
$icon-watchlist: "\e90f";
$icon-confirm: "\e912";
$icon-info: "\e914";
$icon-star-line: "\e908";
$icon-star-fill: "\e907";
$icon-menu: "\e915";
$icon-warning: "\e916";
$icon-error: "\e913";
$icon-compare: "\e917";
$icon-contract: "\e918";
$icon-expand: "\e919";
$icon-export: "\e91a";
$icon-factsheet: "\e91b";
$icon-print: "\e91c";
$icon-refresh: "\e91d";
$icon-settings: "\e91e";
$icon-account-add: "\e91f";
$icon-buy: "\e920";
$icon-arrow-down: "\e901";
$icon-arrow-up: "\e902";
$icon-add: "\e910";
$icon-close: "\e911";
$icon-chart: "\e921";
$icon-market: "\e922";
$icon-sell: "\e924";
$icon-globe: "\e926";
$icon-report: "\e927";
$icon-computer: "\e928";
$icon-tick: "\e929";
$icon-hand: "\e930";
$icon-movie: "\e931";
$icon-down-sort: "\e932";
$icon-up-sort: "\e933";
$icon-chevron-down-s: "\e934";
$icon-chevron-up-s: "\e935";
$icon-chevron-down-m: "\e936";
$icon-chevron-up-m: "\e937";
$icon-menu-burger: "\e938";
$icon-no-entry: "\e939";
$icon-square: "\e940";
$icon-line: "\e941";
$icon-droplet-line: "\e942";
$icon-droplet-fill: "\e943";
$icon-droplet-alt-line: "\e944";
$icon-droplet-alt-fill: "\e945";
$icon-circle-right: "\e946";
$icon-circle-wave: "\e947";
$icon-circle-zig: "\e948";
$icon-saving: "\e949";
$icon-home: "\e950";
$icon-quantitative: "\e951";
$icon-hand-point: "\e952";
$icon-exit: "\e953";
$icon-calendar: "\e954";
$icon-clock: "\e955";
$icon-other-account: "\e956";
$icon-lock-tick: "\e957";
$icon-leaf: "\e958";
$icon-computer-tick: "\e959";
$icon-sms-alert: "\e960";




$fidelity-icons: (               
    card-cvc:              	$icon-card-cvc,
    verified:              	$icon-verified,
    factsheet-full:        	$icon-factsheet-full,
    post:                  	$icon-post,
    search:                	$icon-search,
	select:                	$icon-select,
	account:               	$icon-account,
	check-mail:            	$icon-check-mail,
	help:                  	$icon-help,
	lock-account:          	$icon-lock-account,
	messages:              	$icon-messages,
	mobile:                	$icon-mobile,
	watchlist:             	$icon-watchlist,
	confirm:               	$icon-confirm,
	info:                  	$icon-info,
	star-line:             	$icon-star-line,
	star-fill:             	$icon-star-fill,
	menu:                  	$icon-menu,
	warning:               	$icon-warning,
	error:                 	$icon-error,
	compare:               	$icon-compare,
	contract:              	$icon-contract,
	expand:                	$icon-expand,
	export:                	$icon-export,
	factsheet:             	$icon-factsheet,
	print:                 	$icon-print,
	refresh:               	$icon-refresh,
	settings:              	$icon-settings,
	account-add:           	$icon-account-add,
	buy:               		$icon-buy,
	arrow-down:             $icon-arrow-down,
	arrow-up:              	$icon-arrow-up,
	add:               		$icon-add,
	close:                 	$icon-close,
	chart:                 	$icon-chart,
	market:                	$icon-market,
	sell:              		$icon-sell,
	globe:                 	$icon-globe,
	report:                	$icon-report,
	computer:              	$icon-computer,
	tick:              		$icon-tick,
	hand:              		$icon-hand,
	movie:                 	$icon-movie,
	down-sort:              $icon-down-sort,
	up-sort:               	$icon-up-sort,
	chevron-down-s:         $icon-chevron-down-s,
	chevron-up-s:           $icon-chevron-up-s,
	chevron-down-m:         $icon-chevron-down-m,
	chevron-up-m:           $icon-chevron-up-m,
	menu-burger:            $icon-menu-burger,
	no-entry:              	$icon-no-entry,
	square:                	$icon-square,
	line:              		$icon-line,
	droplet-line:           $icon-droplet-line,
	droplet-fill:           $icon-droplet-fill,
	droplet-alt-line:       $icon-droplet-alt-line,
	droplet-alt-fill:       $icon-droplet-alt-fill,
	circle-right:           $icon-circle-right,
	circle-wave:            $icon-circle-wave,
	circle-zig:             $icon-circle-zig,
	saving:                	$icon-saving,
	home:              		$icon-home,
	quantitative:           $icon-quantitative,
	hand-point:             $icon-hand-point,
	exit:              		$icon-exit,
	calendar:              	$icon-calendar,
	clock:                 	$icon-clock,
	other-account:          $icon-other-account,
	lock-tick:              $icon-lock-tick,
	leaf:              		$icon-leaf,
	computer-tick:          $icon-computer-tick,
	sms-alert:              $icon-sms-alert
);
