
// Function for color class creation
@each $name, $val in $fidelity-colours {
	// background-color
  	.bg-#{$name} {
    	background-color: #{$val};
  	}
	// color
  	.text-#{$name} {
    	color: #{$val};
  	}
  	.btn--#{$name} {
    	background-color: #{$val};
    	&:hover {
    		// background-color: darken(#{$val});
    		// background-color: #{$val}; 
    	}    	
  	}
}



// Function for icon class creation
@each $name, $val in $fidelity-icons {
    .icon--#{$name} {
        &:before {
            content: "#{$val}";
            position: relative;
        }
    }
}



