//--------------------------------------------------------------------------------------------------
//      MIXINS
//--------------------------------------------------------------------------------------------------

// Headers
// @mixin header($font-size, $line-height) {
@mixin header($font-size, $line-height) {
    // color: $color;
    // font-family: $font-family;
    font-size: $font-size;
    font-weight: normal;
    line-height: $line-height;
}

// @include anchor(value, value, value, value, value);
@mixin anchor($defaultColor, $font-size, $defaultDecoration, $hoverColor, $hoverDecoration) {
	color: $defaultColor;
	cursor: pointer;
	font-size: $font-size;
	text-decoration: $defaultDecoration;
	&:active,
	&:focus,
	&:hover {
    	@extend %outline;
        color: $hoverColor;
    	text-decoration: $hoverDecoration;
    }
}

// @include link(value, value);
@mixin link($color, $defaultDecoration) {
	color: $color;
	cursor: pointer;
	transition: all 0.2s ease 0s;
	text-decoration: $decoration;
	&:active,
	&:focus,
	&:hover {
    	color: $color;
    	transition: all 0.3s ease 0s;
    	@extend %outline;
    }
}


// Border-radius
// @include border-radius(value);
@mixin border-radius ($radius: 5px) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
    /* stops bg color from leaking outside the border: */
    -webkit-background-clip: border;  		/* Safari 4? Chrome 6? */
       -moz-background-clip: border;     	/* Firefox 3.6 */
    		background-clip: border-box;    /* Firefox 4, Safari 5, Opera 10, IE 9 */ 
}


// Cross browser Opacity
// @include opacity(value);
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}


// Transitions
// @include transition($args);
// @mixin transition($args) {
//     -webkit-transition: $args;
//        -moz-transition: $args;
//         -ms-transition: $args;
//          -o-transition: $args;
//             transition: $args;
// }


@mixin image-2x($image, $width, $height) {
    @media  (min--moz-device-pixel-ratio: 1.3),
            (-o-min-device-pixel-ratio: 2.6/2),
            (-webkit-min-device-pixel-ratio: 1.3),
            (min-device-pixel-ratio: 1.3),
            (min-resolution: 1.3dppx) {
        /* on retina, use image that's scaled by 2 */
        background-image: url($image);
        background-size: $width $height;
    }
}