<div class="large-8 large-offset-2 js-pathfinder-form-content js-pathfinder-car-form hide animate animate--fade-in-down">

    <div class="large-6 medium-12 column">
        <h2 class="h2 rhythm-m-0-half">A car</h2>
        <p class="p rhythm-m-1">
            Many drivers choose to invest as a way to save for a car. As well as covering the purchase price, this can help meet any ongoing maintenance costs and nasty surprises.
        </p>
    </div>

    <div class="column large-6 medium-12">

        <label for="lump" class="p--big  rhythm-m-0-half">How much do you have?</label>
        <input name="lump" type="number" step="1000" min="1000" class="p--big rhythm-m-0-half lump-sum-input" placeholder="e.g. &pound;5,000">

        <label for="amount" class="p--big rhythm-m-0-half">What do you need to save (in total)?</label>
        <input name="amount" type="number" step="1000" min="1000" class="p--big rhythm-m-0-half balance-input" placeholder="e.g. &pound;5,000">

        <label for="time" class="p--big rhythm-m-0-half">In how many years will you need it?</label>
        <input name="time" type="number" min="2" class="p--big rhythm-m-0-half time-input" placeholder="e.g. 8">

        <div class="form-errors animate animate--fade-in hide rhythm-m-1">
            <p class="text-red-1">Please enter a figure in each box. You must start your account with at least £1,000</p>
        </div>

        <a href="pathfinder-page.html" class="btn btn-cta js-pathfinder-submit" data-type="house">
            See your options
        </a>

    </div>

</div>