<section class="row rhythmic-xxxl overflow-hidden">

    <div class="column large-6 large-offset-3 end">
        <div class="text-center  rhythm-m-2">
            <h2 class="h3 rhythm-m-1 number-badge">1</h2>
            <h2>Choose your risk level</h2>
        </div>

        <div class="rhythm-m-1">
            <p>Understanding how comfortable you are with different levels of risk is the first step to planning your investments.</p>
        </div>

        <div class="rhythm-m-2">
            <p>You'll see that changing your attitude to risk affects the amount you could get back so you might need to adjust the lump sum, monthly contributions and time it takes to achieve your savings goal.</p>
        </div>

    </div>

    <div class="column large-8 medium-8 large-offset-1 medium-offset-1 pathfinder__graph hide">
        <div class="graph-container">
            <div class="graph-tooltip">
                <div class="graph-tooltip__header text-center gutted-s bg-grey-15">
                    <h4 class="h6">Estimated values</h4>
                </div>
                <div class="graph-tooltip__body rhythmic-s gutted-s bg-white">
                    <div class="rhythm-m-b-1 clearfix">
                        <div class="colour colour--good"></div>
                        <div class="label">
                            <span class="h6 text--grey-03 name">Good market</span>
                            <span class="good h6 amount">£13,000</span>
                        </div>
                        <div class="percentage">
                            <span class="good-percent h6">-%</span>
                        </div>
                    </div>
                    <div class="rhythm-m-b-1 clearfix">
                        <div class="colour bg-white"></div>
                        <div class="label">
                            <span class="h6 text--grey-03 name">Average market</span>
                            <span class="average h6 amount">£10,000</span>
                        </div>
                        <div class="percentage">
                            <span class="average-percent h6">-%</span>
                        </div>
                    </div>
                    <div class="rhythm-m-b-1 clearfix">
                         <div class="colour colour--poor"></div>
                        <div class="label">
                            <span class="h6 text--grey-03 name">Poor market</span>
                            <span class="poor h6 amount">£8,000</span>
                        </div>
                        <div class="percentage">
                            <span class="poor-percent h6">-%</span>
                        </div>
                    </div>
                    <div class="rhythm-m-b-1 clearfix">
                        <div class="colour bg-grey-85"></div>
                        <div class="label">
                            <span class="h6 text--grey-03 name">Cash</span>
                            <span class="cash h6 amount"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="graph-spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>

            <div class="graph-line"></div>

            <div class="graph-point"></div>

            <div class="ct-chart"></div>
        </div><!-- /.graph-container -->
    </div>

    <div class="column large-2 medium-2 end hide pathfinder__inputs animate animate--fade-in">
        <label for="lump" class="p--big  rhythm-m-0-half">Lump sum</label>
        <input name="lump" type="text" class="p--big rhythm-m-0-half lump-sum-input" placeholder="e.g. &pound;5,000">

        <label for="contributions" class="p--big  rhythm-m-0-half">Monthly contributions</label>
        <input name="contributions" type="text" class="p--big rhythm-m-0-half monthly-deposit" placeholder="e.g. &pound;5,000">

        <label for="years" class="p--big  rhythm-m-0-half">Number of years</label>
        <input name="years" type="number" step="1" min="5" class="p--big rhythm-m-0-half number-years" placeholder="e.g. 5">
    </div>


    <div class="column large-10 medium-10 large-offset-1 medium-offset-1 end">
        <div class="owl-carousel owl-carousel--grid  rhythm-m-0-half" data-carousel-options='{"items": "5", "itemsDesktop" : [1199,5], "itemsDesktopSmall": [980,5], "itemsTablet": [768,3], "itemsTabletSmall": "false", "itemsMobile": [600,3], "margin": "20px" }'>

                <div class="carousel__item">
                    <div class="bigRadio-wrap">
                        <input type="radio" name="pathfinder-risk" value="1" id="risk-1">
                        <label class="bigRadio" for="risk-1">
                            <span class="bigRadio-text">Avoiding loss is my priority</span>
                        </label>
                    </div>
                </div>

                <div class="carousel__item">
                    <div class="bigRadio-wrap">
                        <input type="radio" name="pathfinder-risk" value="2" id="risk-2">
                        <label class="bigRadio" for="risk-2">
                            <span class="bigRadio-text">I prefer slow and steady</span>
                        </label>
                    </div>
                </div>

                <div class="carousel__item">
                    <div class="bigRadio-wrap">
                        <input type="radio" name="pathfinder-risk" value="3" id="risk-3">
                        <label class="bigRadio" for="risk-3">
                            <span class="bigRadio-text">I'm willing to lose some to make some</span>
                        </label>
                    </div>
                </div>

                <div class="carousel__item">
                    <div class="bigRadio-wrap">
                        <input type="radio" name="pathfinder-risk" value="4" id="risk-4">
                        <label class="bigRadio" for="risk-4">
                            <span class="bigRadio-text">Focussed on growth</span>
                        </label>
                    </div>
                </div>

                <div class="carousel__item">
                    <div class="bigRadio-wrap">
                        <input type="radio" name="pathfinder-risk" value="5" id="risk-5">
                        <label class="bigRadio" for="risk-5">
                            <span class="bigRadio-text">Risk losses for higher potential returns</span>
                        </label>
                    </div>
                </div>

        </div><!-- /.owl-carousel -->

        <div class="risk-explanation text-center rhythmic gutted mobile-gutted-s hide rhythm-m-2">
            <div class="risk-explanation__pointer"></div>
            <p class="p text-grey-60 animate animate--fade-in risk1 hide">Focused on capital preservation, while still aiming to generate modest investment returns over the long term by taking a smaller amount of risk.</p>
            <p class="p text-grey-60 animate animate--fade-in risk2 hide">Aims for steady returns over the years and will hold an even split of higher-risk and lower-risk investments.</p>
            <p class="p text-grey-60 animate animate--fade-in risk3 hide">More balanced, by placing emphasis on long term capital growth but also holding some more defensive assets.</p>
            <p class="p text-grey-60 animate animate--fade-in risk4 hide">Focused on higher long term returns. Although well diversified, holds higher risk assets such as equities, commodities and property.</p>
            <p class="p text-grey-60 animate animate--fade-in risk5 hide">All out for growth by investing in equities around the world. We believe there is great potential for long term growth, but you must understand you are taking on a high level of risk.</p>
        </div>

    </div><!-- ./large-10 -->

    <div class="column large-6 large-offset-3 end hide animate animate-fade-in forecasting-info">

        <div class="rhythm-m-1">
            <strong><p>How our forecasting works</p></strong>
        </div>

        <div class="rhythm-m-1">
            <p>As you can see for each risk level, we've selected three different potential rates of return, representing a good, poor or middling outcome for an investment help over the long term (ten years or more).</p>
        </div>

        <div class="rhythm-m-1">
            <p>If you increase your selected risk level, the high and middling rates of return improve, while the poor return is worse. These forecasts illustrate that taking on greater risk can increase your returns if the market is good, but also increases your losses in poor market conditions.</p>
        </div>

        <div class="rhythm-m-1">
            <p>You can find out more about our forecasting methods <a href="#">here</a></p>
        </div>

    </div>

</section>
