<div class="large-8 large-offset-2 js-pathfinder-form-content  js-pathfinder-invest-form hide animate animate--fade-in-down">

    <div class="large-6 medium-12 column">
        <h2 class="h2 rhythm-m-0-half">Something else</h2>
        <p class="p rhythm-m-1">
            For when you have no particular investment goal in mind, but just want to save as much as you can or for a rainy day.
        </p>
    </div>

    <div class="column large-6 medium-12">

        <label for="lump" class="p--big  rhythm-m-0-half">How much do you have?</label>
        <input name="lump" type="number" step="1000" min="1000" class="p--big rhythm-m-0-half lump-sum-input" placeholder="e.g. &pound;5,000">

        <label for="contributions" class="p--big rhythm-m-0-half">How much can you contribute monthly?</label>
        <input name="contributions" type="number" step="1000" min="1000" class="p--big rhythm-m-0-half monthly-contribution-input" placeholder="e.g. &pound;100">

        <div class="form-errors animate animate--fade-in hide rhythm-m-1">
            <p class="text-red-1">Please enter a figure in each box. You must start your account with at least £1,000</p>
        </div>

        <a href="pathfinder-page.html" class="btn btn-cta js-pathfinder-submit" data-type="house">
            See your options
        </a>

    </div>

</div>