.border {
    border: 2px solid $grey15;
}


.border-b {
    border-bottom: 2px solid $grey15;
}
.border-t {
    border-top: 2px solid $grey15;
}
.border-l {
    border-left: 2px solid $grey15;
}
.border-r {
    border-right: 2px solid $grey15;
}
