
// Generic Component Container
.site-module_container {
	padding: 48px 0 0;
	@media #{$medium-up} {
		padding: 64px 0 0;
	}
	@media #{$large-up} {
		padding: 80px 0 0;
	}
	&:last-of-type {
		padding: 48px 0;
		@media #{$medium-up} {
			padding: 64px 0;
		}
		@media #{$large-up} {
			padding: 80px 0;
		}
	}
	ul {
		@extend %no-listStyle;
	}
}

// clear floats on mobile
.site-module_container {
	.left {
		float: none !important;
		@media #{$medium-up} {
	    	float: left !important;
	    }
	}
	.right {
		float: none !important;
		@media #{$medium-up} {
	    	float: right !important;
	    }
	}
}

.site-module_title {
    h2 {
		margin: 0 0 30px;
	    @media #{$medium-up} {
	        margin: 0 0 32px;
	    }
	    @media #{$large-up} {
	        margin: 0 0 36px;
	    }
	}
	h3 {

	    @media #{$medium-up} {

	    }
	    @media #{$large-up} {

	    }
	}
	h4 {
		margin: 0 0 28px;
	    @media #{$medium-up} {
	        margin: 0 0 32px;
	    }
	    @media #{$large-up} {
	        margin: 0 0 35px;
	    }
	}
}

.site-module_content {
	p {
		margin: 0 0 28px;
		@media #{$medium-up} {
	        margin: 0 0 32px;
	    }
	    @media #{$large-up} {
	        margin: 0 0 36px;
	    }
	}
}

.site-module_links {
	a {
		display: inline-block;
		margin: 0 0 28px;
		@media #{$medium-up} {
	        margin: 0 0 32px;
	    }
	    @media #{$large-up} {
	        margin: 0 0 36px;
	    }
	}
}




////// OLD OLD OLD ////////
.block {
    display: block;
    width: 100%;
}

.inline-block {
    display: inline-block;
}

.relative {
	position: relative;
}

///////////////////////////////////
///////////////////////////////////
///////////////////////////////////
///////////////////////////////////

.top-spacer {
	padding-top: 2em;
	@media #{$small-only} {
		padding-top: 1em;
	}
}

.top-spacer-large {
	padding-top: 4em;
	@media #{$small-only} {
		padding-top: 2em;
	}
}

.bottom-spacer {
	padding-bottom: 2em;
	@media #{$small-only} {
		padding-bottom: 1em;
	}
}

.bottom-spacer-large {
	padding-bottom: 4em;
	@media #{$small-only} {
		padding-bottom: 2em;
	}
}

.centered-block-content {
	text-align: center;
	& > {
		display: inline-block;
	}
}

// vertically centered content
.vertical-centered-content {
	display: table;
	position: relative;
	& > * {
		display: table-cell;
  		vertical-align: middle;
	}
}
